---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { Image } from "astro:assets";
import logoImage from "../content/images/1.png";
import bannerImage from "../content/images/banner.svg";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .banner {
                width: 100%;
                height: auto;
                max-width: 100%;
                margin-bottom: 2rem;
            }

            @media (min-width: 768px) {
                .banner {
                    width: 80%;
                }
            }

            @media (min-width: 1024px) {
                .banner {
                    width: 60%;
                }
            }
        </style>
    </head>
    <body>
        <!-- <Header /> -->
        <main>
            <Image src={bannerImage} alt="RLXG Token banner." class="banner" />
            <p style="margin-bottom: 5rem;">
                You were programmed not to care.<br />
                Relax, guy.<br />
            </p>
            <div style="margin-bottom: 5rem;">
                <p>
                    <a
                        href="https://explorer.solana.com/address/2JbzXK7Qy2hk1LJeoV7HDTSXga1LK1vkDpNft7XHqKhu?cluster=mainnet"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        2JbzXK7Qy2hk1LJeoV7HDTSXga1LK1vkDpNft7XHqKhu
                    </a>
                </p>
            </div>
            <div style="margin-bottom: 5rem;">
                <p><strong>Token Supply:</strong> 420,690,000</p>
                <p><strong>Chain:</strong> Solana</p>
                <p><strong>Ticker:</strong> $RLXG</p>
            </div>
        </main>
        <Footer />
    </body>
</html>
